<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <h4 class="card-title">USER ROLES DETAILS</h4>
        </div>
        <div class="col-lg-3 offset-lg-5"><button type="button" class="btn btn-primary btn-fw float-right">NEW ROLE</button></div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Role
              </th>
              <th>
                Description
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                1
              </td>
              <td>
Test Role
              </td>
              <td>
                  this is a test description
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
