
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper custom-login" style="padding-top:0px;">
    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <div class="auto-form-wrapper">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div *ngIf="isError" class="alert alert-danger" role="alert">{{error}}</div>
              <div class="form-group">
                <label class="label">Username</label>
                <div class="input-group">
                  <input type="text" formControlName="username" class="form-control" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                  </div>
                </div>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label">Password</label>
                <div class="input-group">
                  <input type="password" formControlName="password" class="form-control" placeholder="*********" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                  </div>
                </div>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>
              <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary submit-btn btn-block">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Login
                </button>
              </div>
              <div class="form-group d-flex justify-content-between">
                <div class="form-check form-check-flat mt-0">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" checked=""> Keep me signed in <i class="input-helper"></i>
                  </label>
                </div>
                <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
              </div>
              <div class="form-group">
                <button class="btn btn-block g-login">
                  <img class="mr-3" src="../../../assets/images/file-icons/icon-google.svg" alt="">Log in with Google
                </button>
              </div>
              <div class="text-block text-center my-3">
                <!--<span class="text-small font-weight-semibold">Not a member ?</span>
    <a href="register.html" class="text-black text-small">Create new account</a>-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
